In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt
import matplotlib as mp
import streamlit as st
import seaborn as sns
from scipy.stats import zscore
from mpl_toolkits.mplot3d import Axes3D
import ipywidgets as widgets

In [3]:
tg_data1 = pd.read_csv(r'C:\Users\pc\Desktop\KAIM10X\Week-7-KAIM-10X\Week-7-10X\scripts\1_telegram_data.csv')
tg_data1.head()

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,Doctors Ethiopia,@DoctorsET,864,https://youtu.be/5DBoEm-8kmA?si=LDLuEecNfULJVD...,2023-12-18 17:04:02+00:00,NaN
1,Doctors Ethiopia,@DoctorsET,863,ዶክተርስ ኢትዮጵያ በ አዲስ አቀራረብ በ ቴሌቪዥን ፕሮግራሙን ለመጀመር ከ...,2023-11-03 16:14:39+00:00,NaN
2,Doctors Ethiopia,@DoctorsET,862,ሞት በስኳር \r\n\r\nለልጆቻችን የምናሲዘው ምሳቃ ሳናቀው እድሚያቸውን...,2023-10-02 16:37:39+00:00,NaN
3,Doctors Ethiopia,@DoctorsET,861,ከ HIV የተፈወሰ ሰው አጋጥሟችሁ ያቃል ? ፈውስ እና ህክምና ?\r\n\...,2023-09-16 07:54:32+00:00,NaN
4,Doctors Ethiopia,@DoctorsET,860,በቅርብ ጊዜ በሃገራችን ላይ እየተስተዋለ ያለ የተመሳሳይ ፆታ ( Homos...,2023-09-01 16:16:15+00:00,NaN

In [4]:
tg_data2 = pd.read_csv(r'C:\Users\pc\Desktop\KAIM10X\Week-7-KAIM-10X\Week-7-10X\scripts\2_telegram_data.csv')
tg_data2.head()

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,CheMed,@CheMed123,97,"⚠️Notice!\r\nDear esteemed customers,\r\nDue t...",2023-02-10 12:23:06+00:00,photos\@CheMed123_97.jpg
1,CheMed,@CheMed123,96,Mela-One በውስጡ ሆርሞን ያለው ድንገተኛ ወሊድ መቆጣጠርያ ሲሆን ያለ...,2023-02-02 08:58:52+00:00,photos\@CheMed123_96.jpg
2,CheMed,@CheMed123,95,አዚትሮማይሲን በሃኪም መድሃኒት ማዘዣ ከሚታዘዙ አንቲባዮቲኮች አንዱ ሲሆን...,2023-02-01 08:59:37+00:00,photos\@CheMed123_95.jpg
3,CheMed,@CheMed123,94,Che-Med Trivia #3\r\n\r\nምግብና መጠጦች አንዳንድ መድሃኒቶ...,2023-01-31 09:19:53+00:00,photos\@CheMed123_94.jpg
4,CheMed,@CheMed123,93,"Che-Med Trivia #2\r\n\r\nእንደ Ciprofloxacin, Do...",2023-01-30 09:45:25+00:00,photos\@CheMed123_93.jpg

In [5]:
tg_data3 = pd.read_csv(r'C:\Users\pc\Desktop\KAIM10X\Week-7-KAIM-10X\Week-7-10X\scripts\3_telegram_data.csv')
tg_data3.head()

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,15192,NIDO 1+ 2.2KG \r\nPrice 6500 birr \r\nTelegram...,2025-01-30 14:11:12+00:00,photos\@lobelia4cosmetics_15192.jpg
1,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,15191,NEUROPRO CARE \r\nPrice 5500 birr \r\nTelegram...,2025-01-30 14:11:11+00:00,photos\@lobelia4cosmetics_15191.jpg
2,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,15190,GLUCERNA \r\nPrice 3300 birr \r\nTelegram http...,2025-01-30 14:11:11+00:00,photos\@lobelia4cosmetics_15190.jpg
3,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,15189,ENSURE 850GM\r\nPrice 3800 birr \r\nTelegram h...,2025-01-30 14:11:11+00:00,photos\@lobelia4cosmetics_15189.jpg
4,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,15188,APTAMIL NO.3\r\nPrice 4000 birr \r\nTelegram @...,2025-01-30 13:04:17+00:00,photos\@lobelia4cosmetics_15188.jpg

# Data Cleaning and Transformation
Text Cleaning: Perform text cleaning tasks such as removing special characters, and handling missing values.

# Remove duplicate rows

In [4]:

tg_data1.drop_duplicates(inplace=True)

# Save the cleaned data back to a CSV file

In [ ]:
df.to_csv("cleaned_telegram_data.csv", index=False)

# Tokenization: Tokenize the text data into words or subwords for further processing.